npm-debug.log*
*.iml
.idea/

node_modules/*
!node_modules/bodybuilder/
node_modules/bodybuilder/*
!node_modules/bodybuilder/browser/
node_modules/bodybuilder/browser/*
!node_modules/bodybuilder/browser/bodybuilder.min.js
